.container > * {
    background-color: salmon;
  }
  
  #grid-container.ej1 {
    display: grid;
    grid-template-rows: 50px 100px;
    grid-template-columns: 100px 200px auto;
  }
  .item{
     border:1px solid black;
     padding: 10px;
  }