* {
  box-sizing: border-box;
}

img {
  width: 20%;
  float: left;
}

.texto {
  overflow: hidden;
  width: 80%;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
