* {
  box-sizing: border-box;
}

img {
  width: 20%;
  float: left;
}

.texto {
  overflow: hidden;
  width: 80%;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";        /* Asegura que el pseudo-elemento se renderice */
  clear: both;        /* Limpia flotados a izquierda y derecha */
  display: table;     /* Crea un nuevo contexto de formato de bloque */
}

.clearfix{
  display: flow-root;  /* lo mismo que el hack clearfix */
}
