*{
  box-sizing: border-box;
}
.contenedor-img {
  float: left; /* Alinea a la izquierda */
  width: 33.33%; /* Cada imagen ocupa un tercio del ancho */
  padding: 5px; /* Margen interno */
}

.contenedor-img img {
  width: 100%; /* Imagen se adapta al contenedor */
}

img {
  width: 100%; /* Imagen se adapta al contenedor */
  height: auto; /* Ajusta la altura a la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionarse */
}
.titulo-img {
  text-align: center; /* Alinea el texto centrado */
  font-weight: bold; /* Estilo de fuente */
}

#pie {
  background-color: gray;
  margin-top: 20px; /* Margen superior */
  padding: 20px; /* Margen interno */
  font-weight: bold; /* Estilo de fuente */
}

.derecha {
  float: right; /* Alinea a la derecha */
}

.izquierda {
  float: left; /* Alinea a la izquierda */
}

.clearfix::after {
  content: "";        /* Asegura que el pseudo-elemento se renderice */
  clear: both;        /* Limpia flotados a izquierda y derecha */
  display: table;     /* Crea un nuevo contexto de formato de bloque */
}

.clearfix{
  display: flow-root;  /* Alternativa moderna a clearfix */
}
