#container {
  display: flex;
}

#container div {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  flex-grow: 1;
}

.div1 {
  background-color: aqua;
}

.div2 {
  background-color: beige;
}

.div3 {
  background-color: coral;
}

.div4 {
  background-color: cornflowerblue;
}
