* {
  box-sizing: border-box;
}

#container {
  display: flex;
}

.img-container {
  flex:1;
  padding: 5px;
}

.img-container img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.titulo_imagen {
  text-align: center;
  font-weight: bold;
}

#footer {
  background-color: gray;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}