#container {
  display: flex;
}

.div1 {
  padding: 50px;
  background-color: pink;
  order: 1;
  margin-left: auto;
}

.div2 {
  padding: 50px;
  background-color: aqua;
}

.div3 {
  padding: 50px;
  background-color: coral;
}