.container > * {
    background-color: salmon;
  }
  .ej3  {
     display:grid;
     grid-template-rows: auto;
     grid-template-columns: 1fr 2fr 100px; 
  }
  .item{
     border:1px solid black;
     padding:10px;
  }