.container > * {
    background-color: salmon;
  }
  .ej4  {
     display:grid;
     grid-template-rows: 100px;
     grid-template-columns: 1fr repeat(2, 50px); 
  }
  .item{
     border:1px solid black;
     padding:10px;
  }