:root {
  --color-div1: #ffc0cb;
  --color-div2: #01ffff;
  --color-texto: #ff7f50;
}
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: ""; /* Asegura que el pseudo-elemento se renderice */
  clear: both; /* Limpia flotados a izquierda y derecha */
  display: table; /* Crea un nuevo contexto de formato de bloque */
}

.clearfix {
  display: flow-root; /* lo mismo que el hack clearfix */
}

.texto {
  background-color: var(--color-texto);
}

.div1 {
  float: right;
  padding: 50px;
  background-color: var(--color-div1);
  margin-left: 50px;
}

.div2 {
  float: left;
  padding: 5px;
  background-color: var(--color-div2);
}
