:root {
  --color-div1: #ffc0cb;
  --color-div2: #01ffff;
  --color-texto: #ff7f50;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.texto {
  background-color: var(--color-texto);
}

.div1 {
  float: right;
  padding: 50px;
  background-color: var(--color-div1);
  margin-left: 50px;
}

.div2 {
  float: left;
  padding: 5px;
  background-color: var(--color-div2);
}
