.container > * {
    background-color: salmon;
  }
  
  .ej2  {
     display:grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr auto 100px; 
  }
  .item{
     border:1px solid black;
     padding:10px;
  }