
:root {
    --color-div1: #FFC0CB;
    --color-div2: #01FFFF;
}


.div1{
    float: right;
    background-color: var(--color-div1);
    padding: 50px;
}

.div2{
    float: left;
    background-color: var(--color-div2);
    padding: 50px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
